/* prueba */
body{
font-family: 'Lato', sans-serif;
}

.bg-purpure{
  background-color: #663399;
};

.name-one{
  font-weight: 600;
font-size: 3em;
}

header{
  background-image: url("../img/bg-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pr-10{
  margin-top: 15rem;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: black;
  }



.texto{
  color: #663399;
  font-weight: 500;
  font-size: 3.5em;
}
